<div class="social-wrapper" data-bsi-element="social-media" data-bsi-element-part="social-follow">
    <a data-bsi-social-follow="facebook"
      href="[Facebook|url=https://www.facebook.com/bankjuliusbaer/]">
      <img class="social-icon" width="32" height="32" src={{ url ? : bsi_cx_asset('../../../../resources/img/Facebook_dark_r_64.png') }} />
    </a>
    <a data-bsi-social-follow="instagram"
      href="[Instagram|url=https://www.instagram.com/bankjuliusbaer/]">
      <img class="social-icon" width="32" height="32" src={{ url ? : bsi_cx_asset('../../../../resources/img/Instagram_dark_r_64.png') }} />
    </a>
    <a data-bsi-social-follow="linkedin"
      href="[LinkedIn|url=https://www.linkedin.com/company/julius-baer/]">
      <img class="social-icon" width="32" height="32" src={{ url ? : bsi_cx_asset('../../../../resources/img/LinkedIn_dark_r_64.png') }}  />
    </a>
    <a data-bsi-social-follow="twitter"
      href="[Twitter|url=https://twitter.com/juliusbaer]">
      <img class="social-icon" width="32" height="32" class="twitter" src={{ url ? : bsi_cx_asset('../../../../resources/img/Twitter-dark.svg') }} />
    </a>
    <a data-bsi-social-follow="youtube"
      href="[YouTube|url=https://www.youtube.com/user/BankJuliusBaer]">
      <img class="social-icon" width="32" height="32" src={{ url ? : bsi_cx_asset('../../../../resources/img/YouTube_dark_r_64.png') }} />
    </a>
 
</div>
